@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <input type="text" id="username" value="@User.Identity.Name" style="border-style: none;"/> <a href="@Url.Action("logout", "auth")">Log Out</a>
</p>
<p>
    
    <div class="glyphicon glyphicon-envelope" data-bind="click:OpenManagerModal"></div>
    <button type="button" class="btn btn-default" data-bind="click:OpenCreateUserModal">Create user</button>
</p>
<div class="main-wrapper">
    <div class="panel-heading">Calendar</div>
    <div data-provide="calendar" id="calendar"></div>
    <div class="modal modal-fade" id="event-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        Request
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="event-index">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <select class="policies" data-bind="options:userPolicies"></select>
                            @*<label for="min-date" class="col-sm-4 control-label">Type</label>
                                <div class="col-sm-7">
                                    <input name="event-type" type="text" class="form-control">
                                </div>*@
                        </div>
                        <div class="form-group">
                            <label for="min-date" class="col-sm-4 control-label">Dates</label>
                            <div class="col-sm-7">
                                <div class="input-group input-daterange" data-provide="datepicker">
                                    <input name="event-start-date" type="text" class="form-control" value="2017-04-05">
                                    <span class="input-group-addon">to</span>
                                    <input name="event-end-date" type="text" class="form-control" value="2017-04-19">
                                </div>
                            </div>
                        </div>
                    </form>
                    @*<form class="form-horizontal text-center">
                            <input type="button" data-bind="visible: isManager,click: approveRequest" class="btn btn-success" id="apporve-request" style="margin: 0px 4px 4px 4px;" value="Approve request" />
                            <input type="button" data-bind="visible: isManager,click: declineRequest" class="btn btn-danger" id="decline-request" onclick="@*declineRequest()" style="margin: 0px 4px 4px 4px;" value="Decline request" />
                        </form>*@
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="save-event">
                        Send
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-fade" id="vacation-manager-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bind="click:CloseManagerModal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        Vacations
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>UserName</th>
                                <th>Type</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Approve</th>
                                <th>Decline</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach:vacationsForManager">
                            <tr>
                                <td><div data-bind="text:id"></div></td>
                                <td><div>UserName</div></td>
                                <td><div data-bind="text:type"></div></td>
                                <td><div data-bind="text:moment(startDate).format('DD-MM-YYYY')"></div></td>
                                <td><div data-bind="text:moment(endDate).format('DD-MM-YYYY')"></div></td>
                                <td><input type="button" data-bind="click:$parent.ApproveVacation" class="btn btn-success" value="Approve" /></td>
                                <td><input type="button" data-bind="click:$parent.DeclineVacation" class="btn btn-danger" value="Decline" /></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-fade" id="create-user-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bind="click:CloseCreateUserModal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">
                        CreateNewUser
                    </h4>
                </div>
                <div class="panel-body">
                        <div class="control-group">
                            <!-- First name -->
                            <label class="control-label" for="firstname">First Name</label>
                            <div class="controls">
                                <input type="text" id="firstname" name="firstname" placeholder="" class="input-xlarge">
                                <p class="help-block">Enter first name of user</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- Last name -->
                            <label class="control-label" for="lastname">Last Name</label>
                            <div class="controls">
                                <input type="text" id="lastname" name="lastname" placeholder="" class="input-xlarge">
                                <p class="help-block">Enter last name of user</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- E-mail -->
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                                <p class="help-block">Please provide your Email</p>
                            </div>
                        </div>
                        <div class="control-group">
                            <!-- Password-->
                            <label class="control-label" for="password">Password</label>
                            <div class="controls">
                                <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="role">Experience in company</label>
                            <div class="controls">
                                <input type="number" id="experience" name="Experience" placeholder="" class="input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="role">Role</label>
                            <div class="controls">
                                <select class="user-Roles" data-bind="options:userRoles"></select>
                            </div>
                        </div>
                        <div class="control-group" style="margin: 6px 0px 6px 0px;">
                        </div>
                        <div class="control-group">
                            <!-- Button -->
                            <div class="controls">
                                <button class="btn btn-success" data-bind="click:CreateUser">Create</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
    <style>
        #vacation-manager-modal table, th, td {
            border: 1px solid y;
        }
    </style>

    @section scripts{
        <script>
            $(document).ready(function () {
                var model = new VacationTrackingModel();
                ko.applyBindings(model, $("#container")[0]);
            })
        </script>
    }
